/* text styles */

body{
    background-color: beige;
}

.page-title {
    font-family: cursive;
    font-size: 40px;
    color: green;
    text-align: center;
}

.home-list {
    font-family: Papyrus;
    font-size: 30px;
    color: chocolate;
    width: 400px;
    margin: auto;
    margin-top: 30px;
}

.home1 {
    margin-left: 50px;
}

.home2 {
    margin-left: 100px;
}

.home3 {
    margin-left: 150px;
}

.ingredients {
    font-size: 20px;
    background-color: aquamarine;
}

#alt {
    background-color: blue;
}

/* image styles */

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px dotted green;
}