* {
    box-sizing: border-box;
}

/* text styles */

body{
    background-color: beige;
}

.page-title {
    font-family: cursive;
    font-size: 40px;
    color: green;
    text-align: center;
}

.home-list {
    font-family: Papyrus;
    font-size: 30px;
    color: chocolate;
    width: 400px;
    margin: auto;
    margin-top: 30px;
}

.home1 {
    margin-left: 50px;
}

.home2 {
    margin-left: 100px;
}

.home3 {
    margin-left: 150px;
}

/*recipe pages*/

.center {
    width: 850px;
    margin: 0 auto;
}

p {
    background-color: rgb(124, 175, 220);
    font-size: 20px;
    font-family: Verdana;
    width: 400px; 
    height: 350px;
    display: inline-block;
    padding: 60px;
    margin-right: 20px;
}

h2 {
    font-family: Verdana;
    border-bottom: 1px solid green;
    padding: 10px
}

.list {
    font-family: Verdana;
    font-size: 20px;
}

#alt {
    background-color: blue;
}

/* image styles */

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px dotted green;
}